# 忽略所有文件
*

# 不忽略文件夹（必须加这行，否则 Git 进不去深层目录）
!*/

# 不忽略 .gitignore 本身
!.gitignore

# === 白名单区域：只允许以下文件提交 ===
!hub/models--ericwu09--ROSIE/snapshots/main/evaluate.py
!hub/models--ericwu09--ROSIE/snapshots/main/patch_to_cell.py
!hub/models--ericwu09--ROSIE/snapshots/main/process_exp.py
!hub/models--ericwu09--ROSIE/snapshots/main/reconstruct_codex.py
!hub/models--ericwu09--ROSIE/snapshots/main/train.py
!hub/models--ericwu09--ROSIE/snapshots/main/utils.py
!hub/models--ericwu09--ROSIE/snapshots/main/run_preprocess.py
!hub/models--ericwu09--ROSIE/snapshots/main/preprocess.py
!VALIS/run_valis_register.py
!VALIS/visualize_valis_fast.py
!VALIS/convert_qptiff_to_ometiff.py
!VALIS/convert_png_to_ometiff.py